Checks: "*,
    -altera-*,
    -fuchsia-*,
    -llvmlibc-*,
    -llvm-qualified-auto,
    -readability-qualified-auto,
    -readability-function-cognitive-complexity,
    -google-runtime-references,
    -google-explicit-constructor,
    -hicpp-explicit-conversions,
    -hicpp-uppercase-literal-suffix,
    -readability-uppercase-literal-suffix,
    -readability-magic-numbers,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-avoid-c-arrays,
    -hicpp-avoid-c-arrays,
    -modernize-avoid-c-arrays,
    -misc-non-private-member-variables-in-classes,
    -misc-unused-using-decls"
